{% extends "base.html" %}

{% block title %}
    Наши правила
{% endblock %}

{% block content %} 
    <h1>Наши правила</h1>
    <p>
        <b>Cамовыражение.</b> У наших пользователей должна 
        быть возможность создать что-то своё, выразить себя, 
        свои мысли и чувства.
    </p>
    <p>
        <b>Многообразие.</b> Мы уважаем и приветствуем разные 
        культурные и личные подходы.
    </p>
    <p>
        <b>Безопасность.</b> Забота о безопасности наших пользователей и защита их данных — 
        наш главный приоритет.
    </p>
{% endblock %}